body {
    background-color: antiquewhite;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
button {
    border-radius: 10px;
    border: 2px solid red;
    background-color: aliceblue;
    transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease;
}
button:hover {
    background-color: red;
    transform: scale(1.2);
    font-style: italic;
}
a {
    padding: 5px;
    text-decoration: none;
    border: 1px solid red;
    background-color: aliceblue;
    transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease;
    color: black;
    box-shadow: 5px rgba(0, 0, 0, 1);
}
a:hover {
    background-color: red;
    transform: scale(1.2);
    font-style: italic;
}